<header class="py-1">
    <div class="container">
        <nav class="d-flex justify-content-space-between align-items-center flex-wrap">
            <div class="logo h1 align-self-center">
                <span>Lo</span>go
            </div>
            <button class="menu-bar d-sm-none ms-auto">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Dark/Light Mode -->
            <div class="mode" id="changeMode">
                <input type="checkbox" class="checkbox" id="chk" />
                <label class="label d-flex justify-content-space-between align-items-center" for="chk">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label>
            </div>
            <div class="col-md-7">
                <ul class="menu menu-toggle justify-content-space-between d-none d-sm-flex">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">service</a>
                    </li>
                    <li>
                        <a href="#exp-skills">Skills</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>